Ben Bernard <github@benjaminbernard.com>
Ben Bernard <github@benjaminbernard.com> <benbernard@google.com>
Ben Bernard <github@benjaminbernard.com> <bernard@bernard-VirtualBox.(none)>
Ben Bernard <github@benjaminbernard.com> <bernard@bernard-laptop.(none)>
Brandon Forehand <b4hand@users.sf.net>
Brandon Forehand <b4hand@users.sf.net> <brandon@moz.com>
Keith Amling <keith.amling@gmail.com>
Keith Amling <keith.amling@gmail.com> <amling@palantir.com>
Pat McIlroy <itgpmc@gmail.com>
Shawn Halpenny <paxunix@gmail.com>
Thomas Sibley <tsibley@cpan.org>
Thomas Sibley <tsibley@cpan.org> <trsibley@uw.edu>
