Package: libapp-recordstream-perl
Version: 3.5-01-1
Architecture: all
Maintainer: Ben Bernard <ppa@benjaminbernard.com>
Installed-Size: 904
Depends: perl, libtie-ixhash-perl, libnetpacket-perl, libdbd-sqlite3-perl, libxml-simple-perl, libtext-csv-perl, libjson-xs-perl, libdbi-perl, libnet-pcap-perl, libio-string-perl, libnet-dns-perl, libproc-processtable-perl, libdate-manip-perl, libjson-perl, libwww-perl, gnuplot
Section: perl
Priority: optional
Homepage: http://search.cpan.org/dist/App-RecordStream/
Description: System for commandline analysis of data
 The recs system consists of 3 basic sets of scripts. Input scripts
 responsible for generating streams of record objects, Manipulation scripts
 responsible for analyzing, select, and manipulating records, and output
 scripts which take record streams and produce output for humans. These
 scripts can interface with other systems to retrieve data, parse existing
 files, or just regex out some values from a text stream.
 .
 This description was automagically extracted from the module by dh-make-perl.
