Source: libapp-recordstream-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libdate-manip-perl, libdbd-sqlite3-perl, libdbi-perl,
 libio-string-perl, libjson-perl, libjson-xs-perl, libnet-dns-perl,
 libnet-pcap-perl, libnetpacket-perl, libproc-processtable-perl,
 libtext-csv-perl, libtie-ixhash-perl, libwww-perl, libxml-simple-perl,
 libtext-autoformat-perl

Maintainer: Ben Bernard <ppa@benjaminbernard.com>
Standards-Version: 3.8.3
Homepage: http://search.cpan.org/dist/App-RecordStream/

Package: libapp-recordstream-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, gnuplot, libdate-manip-perl,
 libdbd-sqlite3-perl, libdbi-perl, libio-string-perl, libjson-perl,
 libjson-xs-perl, libnet-dns-perl, libnet-pcap-perl, libnetpacket-perl,
 libproc-processtable-perl, libtext-csv-perl, libtie-ixhash-perl, libwww-perl,
 libxml-simple-perl, libtext-autoformat-perl
Description: System for commandline analysis of data
 The recs system consists of 3 basic sets of scripts. Input scripts
 responsible for generating streams of record objects, Manipulation scripts
 responsible for analyzing, select, and manipulating records, and output
 scripts which take record streams and produce output for humans. These
 scripts can interface with other systems to retrieve data, parse existing
 files, or just regex out some values from a text stream.
 .
 This description was automagically extracted from the module by dh-make-perl.
